*{
    box-sizing: border-box;
}
body{
    height: 100vh;
    margin: 10px;
    font-family: 'lato' ,sans-serif;
    background:linear-gradient(0deg, #399191,#a0cccc);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.music_container{
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 20px 20px 0 teal;
    display: flex;
    flex-direction: row;
    padding: 20px 30px;
    position: relative;
    z-index: 10;
    margin: 100px 0;
}
.img_container{
    position: relative;
    width: 110px;
}
.img_container::after{
    content: '';
    background-color: #fff;
    height: 20px;
    width: 20;
    position:absolute;
    left: 50%;
    bottom: 50%;
    border-radius: 50%;
    transform: translate(-50%,-50%);
}
.img_container img{
    width:inherit;
    height: 110px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    bottom: 0;
    left: 0;

    animation: rotate 3s linear infinite;
    animation-play-state: paused ;
}

.music_container.play .img_container img{
    animation-play-state: running ;
}
@keyframes rotate {
    from{
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.nav{
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}
.action-btn{
    background-color: ivory;
    border: 0;
    color: #316A74;
    font-size: 20px;
    cursor: pointer;
    padding: 10px;
    margin: 0 20px;
}
.action-btn-big{
    color:#21545e ;
}
.action-btn:focus{
    outline: 0;
}
.music_info{
    background-color: #e2b1ae;
    position: absolute;
    border-radius: 15px 15px 0 0;
    top: 0;
    left: 20px;
    width: calc(100% - 40px);
    opacity: 0;
    transform: translateY(0%);
    padding: 10px 10px 10px 150px;
    transition: transform 0.5s ease-in, opacity .3s ease-in;
}
.music_info h4{
    margin: 0;
    text-transform:uppercase;
}

.music_container.play .music_info{
    opacity: 1;
    transform: translateY(-100%);
}
.progress_container{
    background-color:rgb(236, 128, 164);
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
    height: 4px;
    width: 100%;
}

.progress {
    background-color: teal;
    border-radius: 5px;
    height: 100%;
    width: 0%;
    transition: width 0.1s linear;
}
span{
    font-size: 50px;
    background: linear-gradient(145deg ,#f81f01,#f32170,#2196f3);
     
       -webkit-text-fill-color: transparent;
       -webkit-background-clip: text;
       font-family: 'Allison', cursive;
       padding: 0 10px;    
 }
 .logo{
     padding-bottom: 110px;
     
 }
 h1{
    margin: 0;
    font-size: 20px;

}
.visit{
    background-color:#0a6b41 ;
    width: max-content;
    padding: 2px 2px;
    margin: 10px 10px;
        color:#fff;
        display: flex;
        float: left;
}
.container-footer{
    color:rgb(199, 235, 255);
}
